body {
	background: url("../images/nightsky.jpg");
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777; 	
}

* {
	box-sizing: border-box;
}


.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}
h1, 
h2,
h3,
p {
	margin-bottom: 20px;
}
p:last-child {
	margin-bottom: 0;
}
h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: #4aaaa5;
	color: #ffffff;
}
h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
}
h2,
h3 {
	font-size: 22px;
}

/*header*/

#masthead {
	z-index: 99;
	color: #fff;
	overflow: auto;
	width: 100%;
}
#logo {
	margin: 0 0 0px 0;
	margin-left: 2%;
	width: 250px;
	height: 90px;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
}
nav {
	float: right;
	margin-top: 25px;
}
nav a {
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}
nav a:first-child {
	border-left: 0 none;
}

/*footer*/

footer {
	background: #666;
	color: #fff;
	padding: 30px 0;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
}

/*main*/
.middlebodysection{
	float:left;
	margin-left: 10px;
}




.body-section {
	margin: 0 10px 20px 0;
	margin-left: 2%;
	padding: 30px;
	width: 100%;
	float: left;
	border: 1px solid #ddd;
}

/*portfolio page*/

.characters {
	width: 209px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 10px 0 26px;
    border: 3px solid #efefef;
}

.characters img {
	border: 0 none;
	height: 187px;
    width: 200px;

}
.characters h3 {
    border-bottom: 0;
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 200px;
    bottom: 20px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: -7px;
}
.auth-image {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}
/*secondrow*/
.characterssecond {
	width: 209px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 10px 0 26px;
    border: 3px solid #efefef;
}

.characterssecond img {
	border: 0 none;
	height: 187px;
    width: 200px;

}
.characterssecond h3 {
    border-bottom: 0;
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 200px;
    bottom: 20px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: -7px;
}
/*contact page*/

#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: #4aaaa5;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}

/*---------MediaTest---  980--*/

@media screen and (max-width: 980px) {

    .body-section {
    margin: 0 10px 20px 0;
    width: 60%;
    margin-left: 2%;
    float: left;
    position: relative;
    max-width: none;

}
	.characters{
	width: auto;
    overflow: auto;
    position: relative;
    float: left;
    margin-right: 0px;

}
	#logo {
	margin: 0 0 0px 0;
	margin-left: 2%;
}
	.sidebar{

		float: left;
	}

    nav {
    margin-right: 10%;
}
.characters:nth-child(even) {
	margin-right: 0px;
}
}

@media screen and (max-width: 768px) {

    .body-section {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    position: relative;
    max-width: none;
}
	.sidebar {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    float:left;
    position: relative;
}
	#logo {
	margin-left: 2%;
}

    nav {
    margin-right: 10%;
}
	.characters{
	width: 48%;
    overflow: auto;
    position: relative;
    float: left;

}
.characters:nth-child(even) {
	margin-right: 4%;
}
}

/*--------media max width 640----*/

@media screen and (max-width: 640px) {

.auth-image {
    width: 100%;
}
#masthead {
	margin: 0 0 10px;
	position: static;
}
#body-container {
    padding-top: 0;
}
.body-section {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    position: relative;
    max-width: none;
}
.sidebar {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    float:left;
    position: relative;
}
#logo {
	float:left;
	width: 100%;
	margin:auto;
}

    nav {
	width: 100%;
    text-align: center;
    float: left;
    margin:10px 0 10px 0;
}

	nav a {
    line-height: 18px;
    padding: 0px 6%;
}
	.characters{
	width: 100%;
    overflow: auto;
    position: relative;
    float: left;
}

}
